<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/estilo.css">
            <title>Detalhes</title>
            <link href="http://fonts.cdnfonts.com/css/madfont-2" rel="stylesheet">
            <link href="http://fonts.cdnfonts.com/css/shock-corridor" rel="stylesheet">
            <link href="http://fonts.cdnfonts.com/css/mr-white" rel="stylesheet">
            <link href="http://fonts.cdnfonts.com/css/cloudlike" rel="stylesheet">
        </head>

        <body>

            <header id="logo">
            <h1 id="car">Podium</h1>

            <section class="botao">
                <a id="in" href="/"><strong>Inicio</strong></a>
                <a id="cad" href="/criar"><strong>Cadastrar</strong></a>
                <a id="qs" href="/criar"><strong>Quem somos</strong></a>
            </section>
            </header>


            <h1 id="detalhes">Detalhes do <%= carro.nome %> </h1>

            <section id="pokem">

                <ul>

                    <div>

                        <img id="pokemo" src="<%= carro.imagem  %>" alt="<%= carro.nome %>" width="730" height="440" />
                            <li><strong>Nome:</strong> <%= carro.nome %> </li>
                            <li><strong>Modelo:</strong> <%= carro.modelo %> </li>
                            <li><strong>Marca:</strong> <%= carro.marca %></li>
                            <li><strong>Velocidade:</strong> <%= carro.velocidade %> Km/h</li>
                            <li><strong>Tipo:</strong> <%= carro.tipo %> </li>
                            <li><strong>Motor:</strong> <%= carro.motor%> </li>
                            <li><strong>Valor:</strong>R$ <%= carro.valor%> </li>
                            <li><strong>Fabricado em:</strong> <%= carro.fabricadoem%> </li>
                            <li><strong>Fabricado no:</strong> <%= carro.fabricadono%> </li>
                            <li><strong>Câmbio:</strong> <%= carro.cambio%> </li>
                            <li><strong>Informações:</strong> <%= carro.informacoes%> </li>
                    </div>

                </ul>

            </section>

            <script src="/js/script.js"></script>
        </body>
</html>



        