<form method="POST">

    <div>
        <label for="nome">Imagem: </label>
        <input type="text" name="imagem" id="imagem" value="<%= carro.imagem %>" placeholder="Coloque o link da sua imagem." required>
    </div>

    <div>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" value="<%= carro.nome %>" placeholder="Digite nome do carro." required>
    </div>

    <div>
        <label for="modelo">Modelo: </label>
        <input type="text" name="modelo" id="modelo" value="<%= carro.modelo %>" placeholder="Digite o modelo do carro." required>
    </div>

    <div>
        <label for="marca">Marca: </label>
        <input type="text" name="marca" id="marca" value="<%= carro.marca %>" placeholder="Digite a marca do carro." required>
    </div>

    <div>
        <label for="velocidade">Velocidade: </label>
        <input type="text" name="velocidade" id="velocidade" value="<%= carro5.velocidade %>" placeholder="Digite a descrição do carro." required>
    </div>

    <div>
        <label for="tipo">Tipo: </label>
        <input type="text" name="tipo" id="tipo" value="<%= carro4.tipo %>" placeholder="Digite o tipo do carro." required>
    </div>

    <div>
        <label for="motor">Motor: </label>
        <input type="text" name="motor" id="motor" value="<%= carro5.motor %>" placeholder="Digite o motor do carro." required>
    </div>

    <div>
        <label for="valor">Valor: </label>
        <input type="number" name="valor" id="valor" value="<%= carro3.valor %>" placeholder="Digite o valor do carro." required>
    </div>

    <div>
        <label for="fabricadoem">Ano de fabricação: </label>
        <input type="number" name="fabricadoem" id="fabricadoem" value="<%= carro2.fabricadoem %>" placeholder="Digite o ano de fabricação do carro." required>
    </div>

    <div>
        <label for="fabricadono">Local de fabricação: </label>
        <input type="text" name="fabricadono" id="fabricadono" value="<%= carro2.fabricadono %>" placeholder="Digite o local de fabricação do carro." required>
    </div>

    <div>
        <label for="cambio">Tipo do câmbio: </label>
        <input type="text" name="cambio" id="cambio" value="<%= carro5.cambio %>" placeholder="Digite o tipo do câmbio do carro." required>
    </div>

    <div>
        <label for="velocidade">Informações: </label>
        <input type="text" name="informacoes" id="informacoes" value="<%= carro4.informacoes %>" placeholder="Digite as informações do carro" required>
    </div>

    <button type="submit">Editar carro</button>
</form>